.fundo {
    width: 100%;
    padding: 300px 0;
    background-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(242,204,172,1) 21%, rgba(248,167,100,1) 53%, rgba(246,112,2,1) 100%, rgba(147,67,2,1) 100%);
    animation: animado 5s infinite alternate;
    background-size: 500% 100%;
    
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: space-around;

}

@keyframes animado {
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x:100%;
    }
    
}

.organizar {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: space-around;
}

.organizar > * {
    margin: 10px;
}

#error {
  font-size: 30px;
  background-color: #ffccbc;
  border-style: solid;
  border-color: #ff5722;
  height: 55px;
  width: auto;
  border-radius: 10px;
}

#correct {
    font-size: 30px;
    background-color: #ffccbc;
    border-style: solid;
    border-color: #ff5722;
    height: 55px;
    width: auto;
    border-radius: 10px;
}

#botao {
    font-size: 30px;
    background-color: #bf360c;
    height: 50px;
    width: auto;
    margin: 10px;
    border-style: solid;
    border-color: #ff5722;
    border-radius: 10px;

}