.botaoo {
    display: flex;
    justify-content: center;
    align-items: center;


    border-radius: 30px;
    width: 500px;
    margin: 30px auto;
    padding: 15px;
    font-size: 25px;

    border: none;

    background-color: #ff8a65;
    color: #fff3e0;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;

}

.fundo {
    width: 100%;
    padding: 300px 0;
    background-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(250,216,188,1) 14%, rgba(255,112,67,1) 54%, rgba(255,87,34,1) 100%);
    animation: animado 5s infinite alternate;
    background-size: 500% 100%;
}

@keyframes animado {
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x:100%;
    }
    
}