.centroooo {
    background-size: 500% 100%;
    background-color: #ff8a65;
    margin: 0;
}


.perguntaaaa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 0px;
    height: 100px;
    border-radius: 0%;

    font-size: 60px;
    font-weight: 900;
    background-color: white;
    color:#f87f5a;
    opacity: 1;
}

.respostassss {
    display: flex;

    flex-wrap: wrap;

    align-items: center;
    justify-items: center;
    width: 100%;
    margin: 10px;
    background-size: 500% 100%;
    background-color: #ff8a65;
 

}

.respostassss > a{
    flex: 1 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
    width: 40vw;
    height: 20vh;
}

#zu {
    font-size: 70px;
    background-color: #ff5722;
    padding: 40px;
    border-radius: 20px;
 
}

#zuu {
    font-size: 70px;
    background-color: #ff5722;
    padding: 40px;
    border-radius: 20px;
   
}

#zuuu {
    font-size: 70px;
    background-color: #ff5722;
    padding: 40px;
    border-radius: 20px;
   
}

#zuuuu {
    font-size: 70px;
    background-color: #ff5722;
    padding: 40px;
    border-radius: 20px;
  
}