
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    padding: 20px;
}

.container .card {
    position: relative;
    padding: 10px;
    width: 300px;
    margin: 10px;
    background-color: #ffffff;
    border: 1px solid white;
    overflow: hidden;
    transition: 0.5s;
    border-radius: 20px;
    text-align: center;
    opacity: 0.9;
}

.idd {
    font-size: 30px;
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container .card img {
    transition: 0.5s;
}


.container .card .content {
    padding: 20px;
    text-align: center;
}

.container .card .content a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: white;
    border-radius: 40px;
    text-decoration: none;
    transition: 0.5s;
    outline: none;
    margin-top: 20px;
}

.container .card:hover {
    background-color: #ff5722;
    color: white;
    margin-top: -30px;
    box-shadow: 2px 20px 25px #ff5722;
    border-color: #ff5722;
    opacity: 1;
}



.container .card:hover .content .pp {
    color: white;
}

.container .card:hover .content a {
    color:#000;
    background-color: white;
}


